body {
    height: 100vh;
}

.blue-background {
    background: #00aeef;
}

.blue-background .navbar-default {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
}

.blue-background .navbar-default .navbar-collapse {
    text-align: center;
}

@media(min-device-width: 767px) {
    .blue-background .navbar-default .nav:first-child {
        float: none;
        margin: 0 auto;
        display: inline-block;
    }
}

.blue-background .navbar-default .nav:first-child img {
    margin-top: 50px;
}
.blue-background .navbar-default .nav:first-child .horizontal-image {
    margin-top: 65px;
}

.blue-background .navbar-default .nav:first-child .middle-logo img {
    margin-top: 0;
    margin-left: 30px;
}

.icon-background {
    background-image: url('../images/fundal2.png');
    /*height: 150%;*/
    background-size: cover;
    background-attachment: fixed;
    padding: 45px 0 0 0;
    min-height: 100%
}

.icon-background .pull-center img {
    display: block;
    margin: 0 auto;
}

.add-header h1 {
    background: #ee4136;
    padding: 10px;
    margin: 0;
    color: #fff;
    font-family: 'Great Vibes', regular;
    font-size: 29px;
    display: -webkit-inline-box;
    margin-top: 0;
}

.add-header h1 a{
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
}

.vertical-middle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: calc(100vh - 150px);
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* margin: 30px 0; */
}

.center-me {
    color: #fff;
    padding: 100px 50px;
    text-align: center;
    max-width: 450px;
    display: block;
    margin: 30px auto;
    box-shadow: 5px 5px 16px #111;
}

.center-me .type1 {
    font-family: 'Gravitas One', regular;
    font-size: 22.8px;
}
.center-me .type2 {
    font-family: 'Sacramento', regular;
    font-size: 27.81px;
}
.center-me .type3 {
    font-family: 'Ramaraja', regular;
    font-size: 16.8px;
}
.center-me .type4 {
    font-family: 'Sacramento', regular;
    font-size: 29.9px;
}
.center-me .type5 {
    font-family: 'Gravitas One', regular;
    font-size: 16.8px;
}
.center-me .type6 {
    font-family: 'Ramaraja', regular;
    font-size: 19.93px;
}
.center-me .type7 {
    font-family: 'Great Vibes', regular;
    font-size: 40.87px;
}
.center-me .type8 {
    font-family: 'Gravitas One', regular;
    font-size: 28.47px;
}
.center-me .type9 {
    font-family: 'Sacramento', regular;
    font-size: 31.2px;
}
.center-me .type10 {
    font-family: 'Gravitas One', regular;
    font-size: 20.4px;
}
.center-me .type11 {
    font-family: 'Great Vibes', regular;
    font-size: 25.97px;
}
.center-me .type12 {
    font-family: 'Sacramento', regular;
    font-size: 26.91px;
}
.center-me .type13 {
    font-family: 'Gravitas One', regular;
    font-size: 18.36px;
}
.center-me .type14 {
    font-family: 'Ramaraja', regular;
    font-size: 17.94px;
}
.center-me .type15 {
    font-family: 'Sacramento', regular;
    font-size: 25.2px;
}


.center-me h1 {
    font-family: 'Great Vibes', cursive;
    margin: 0;
}

.center-me h2 {
    margin: 0;
    font-family: 'Gravitas One', cursive;
    font-size: 20px;
}

.center-me h3 {
    font-family: 'Sacramento', cursive;
    position: relative;
    margin: 20px 0 5px;
}

.center-me h3:before {
    content: '';
    position: absolute;
    background: #fff;
    height: 3px;
    width: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    left: calc(50% - 40px);
    top: -10px;
}

.center-me p {
    font-family: 'Ramaraja', serif;
    margin: 0;
}


/*Colors on cards*/

.red-card {
    background: #ec1c23;
}

.grey-light-card {
    background: #716657;
}

.purple-card {
    background: #7e3e97;
}

.blue-card {
    background: #27aae0;
}

.orange-card {
    background: #f7931e;
}

.green-card {
    background: #2bb673;
}

.grey-card {
    background: #8a5e3b;
}


/*404*/

.light-blue {
    background: #c6ebfb;
    color: #ec1c23;
    min-height: 100vh;
    text-align: center;
}

.light-blue img {
    display: block;
    margin: 0 auto;
}

.light-blue h1 {
    margin: 140px 0 0 0;
    font-family: 'Great Vibes', cursive;
    font-style: italic;
}

.light-blue h2 {
    font-family: 'Sacramento', cursive;
    margin: 15px 0;
}

.light-blue h3 {
    font-family: 'Ramaraja', serif;
    margin: 0;
}

.site-content {
    text-align: center;
    color: #fff;
    margin-top: 26px;
}

.site-content img.player {
    margin: 0px auto 20px auto;
}

.site-content img {
    display: block;
    margin: 150px auto 20px auto;
}

.site-content h1 {
    font-family: 'Great Vibes', cursive;
    margin: 0;
}

.site-content h1 span {
    font-size: 24px;
    display: block;
}

.site-content h2 {
    font-family: 'Gravitas One', cursive;
    font-size: 20px;
    margin: 0 0 7px 0;
}

.site-content h3 {
    font-family: 'Ramaraja', serif;
    margin: 0;
}

.site-content form {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.site-content label {
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.site-content label span {
    position: relative;
    padding-bottom: 10px;
}

.site-content form input {
    border: 0;
    width: 100%;
    margin: 15px 0;
    padding: 5px 0 5px 20px;
}

.site-content form .col-sm-5 input {
    color: #ec1c23;
    background: #f8ec31;
}

.site-content form .danger-input::-webkit-input-placeholder,
.site-content form .col-sm-5 ::-webkit-input-placeholder {
    color: #ec1c23;
}

.site-content form .danger-input:-moz-placeholder .site-content form .col-sm-5:-moz-placeholder {
    /* Firefox 18- */
    color: #ec1c23;
}

.site-content form .danger-input::-moz-placeholder,
.site-content form .col-sm-5::-moz-placeholder {
    /* Firefox 19+ */
    color: #ec1c23;
}

.site-content form .danger-input:-ms-input-placeholder,
.site-content form .col-sm-5:-ms-input-placeholder {
    color: #ec1c23;
}

.site-content form a.button-signin {
    font-family: 'Ramaraja', serif;
    display: block;
    background: #fff;
    margin-top: 15px;
    padding: 5px 0 5px 0;
    background: #f8ec31;
    text-decoration: none;
    color: #ec1c23;
}

.site-content form .danger-input {
    margin-top: 20px;
    font-family: 'Ramaraja', serif;
    display: block;
    background: #fff;
    color: #ec1c23;
    border: 0;
    width: 100%;
    text-align: left;
    padding: 5px 0 5px 20px;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    top: 19.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 18px;
    width: 18px !IMPORTANT;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    margin: 8px 0 !important;
}

.option-input:hover {
    background: #fff;
}

.option-input:checked {
    background: #fff;
    color: #9faab7;
}

.option-input:checked::before {
    height: 18px;
    width: 18px;
    position: absolute;
    content: '\2716';
    display: inline-block;
    font-size: 12.66667px;
    text-align: center;
    line-height: 20px;
    left: 0;
    top: 0px;
}

.option-input:checked::after {
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input:checked label {
    color: red;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.site-content label.remove-padding {
    padding-left: 0;
}

::-webkit-input-placeholder {
    font-family: 'Ramaraja', serif;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Ramaraja', serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Ramaraja', serif;
}

:-ms-input-placeholder {
    font-family: 'Ramaraja', serif;
}

.add-color {
    background: #c6ebfb;
}

.mobile-menu {
    display: none;
}

.swiper-slide h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    margin-top: 15px;
}

.swiper-slide p {
    font-family: "Ramaraja",serif;
    font-size: 17px;
    max-width: 80%;
    margin: 0 auto;
}

.swiper-slide p a {
    font-family: 'Great Vibes', cursive;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: block;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    background: none !important;
    font-size: 30px;
    margin-top: 10px;
}

.write-block textarea {
    background-image: url(../images/Foaiecaiet.png);
    border: 0;
    /* resize: none; */
    background-size: 100% 100%;
    width: 70%;
    height: 533px;
    padding: 110px 50px 0 130px !important;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: #45529D;
    outline: none;
    position: relative;
    box-shadow: 5px 5px 16px #111;
    line-height: 35px;
    background-attachment: scroll;
    /* overflow-y: hidden; */
}

.scisors textarea {
    background-image: url('../images/Cartonscrisoare.png');
    height: 330px;
    width: 440px;
    background-color: transparent;
    color: #163059;
    font-family: 'Tangerine', regular;
}

.children textarea {
    background-image: url('../images/Cartonscrisoare2.png');
    height: 533px;
    width: 70%;
    background-color: transparent;
    color: #163059;
    padding: 180px 60px 50px !important;
}

.parent textarea {
    font-size: 50px;
    background-image: url('../images/Cartonscrisoare1.png');
    height: 533px;
    width: 70%;
    background-color: transparent;
    color: #163059;
    padding: 180px 60px 50px !important;
}

.img-mobile {
    display: none;
}

.cover {
    display: none;
}

.scisors div {
    display: inline-block;
    position: relative;
}

.scisors .cover {
    left: 14px;
    width: 91%;
    top: 0px;
    max-width: 100%;
    height: 140px;
}

.scisors img {
        position: absolute;
        left: 50px;
        top: 50px;
        max-width: 100%;
}

.parent img {
    position: absolute;
    left: 50px;
    top: 50px;
    max-width: 100%;
}
.write-block {
    text-align: center;
}

.write-block button {
    background: #ee4136;
    padding: 10px;
    margin: 0;
    color: #fff;
    font-family: 'Great Vibes', regular;
    font-size: 31.17px;
    display: -webkit-inline-box;
    margin-top: 0;
    position: absolute;
    bottom: 6px;
    border: 0;
}

.scisors button {
    background: #ee4136;
    padding: 10px;
    margin: 0;
    color: #fff;
    font-family: 'Great Vibes', regular;
    font-size: 31.17px;
    display: -webkit-inline-box;
    margin-top: 0;
    position: absolute;
    bottom: 6px;
    border: 0;
}

@media(max-width: 767px) {
    .mobile-menu {
        display: block;
        margin: 20px 0;
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
        display: inline;
        float: none;
        margin-top: 30px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-header {
        text-align: center;
    }
    .navbar-header img.visible-xs {
        padding: 15px;
        /*max-height: 90px;*/
    }
    .move-bottom {
        margin-top: 100px;
    }
    .scisors textarea {
        width: auto;
        max-width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 97%;
    }
}

@media(max-width: 630px) {
    .write-block button {
        bottom: -4px;
        right: 15px;
    }

    .write-block textarea {
        background-image: url(../images/Foaiecaiet.png);
        border: 0;
        /* resize: none; */
        background-size: 100% 100%;
        width: 100%;
        height: 533px;
        padding: 110px 20px 0 20px !important;
        text-align: center;
        font-family: 'Great Vibes', cursive;
        font-size: 30px;
        color: #45529D;
        outline: none;
        position: relative;
        box-shadow: 5px 5px 16px #111;
        line-height: 35px;
        background-attachment: scroll;
        /* overflow-y: hidden; */
    }

    .scisors textarea {
        background-image: url('../images/Cartonscrisoare.png');
        font-family: 'Tangerine', regular;
        height: 330px;
        width: 440px;
        background-color: transparent;
        color: #163059;
    }

    .children textarea {
        background-image: url('../images/Cartonscrisoare3.png');
        height: 533px;
        width: 100%;
        background-color: transparent;
        color: #163059;
        background-attachment: scroll;
        padding: 140px 10px 0 20px !important
    }

    .parent textarea {
        background-image: url('../images/Cartonscrisoare.png');
        height: 533px;
        width: 100%;
        background-color: transparent;
        color: #163059;
        background-attachment: scroll;
        padding: 140px 10px 0 20px !important
    }

    .add-header h1 {
        background: #ee4136;
        padding: 10px;
        margin: 0;
        color: #fff;
        font-family: 'Great Vibes', regular;
        font-size: 19px;
        display: -webkit-inline-box;
        margin-top: 0;
    }
    .img-mobile {
        display: block;
    }

    .cover {
        display:block;
    }

    .element-spacer {
        display: none;
    }
}

.element-spacer {
    height: 70px;
}

@media(max-width: 600px) {}

@media(max-height: 480px) {
    .vertical-middle {
        margin-top: 70px;
    }
    .move-bottom {
        margin-top: 150px;
    }
}

@media (max-height: 700px) {
    .vertical-middle textarea {
        margin-top: 10px;
        padding: 40px 20px 0 10px;
    }
}

.bg-warning {
    background-color: #cc0000;
}

.error {
    background-color:  #cc0000;
}

.fa-long-arrow-right {
    background-color:  #000000;

}

.btn-xl{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 0;
    width:50%;
    color: #ec1c23;
    background-color: #ffffff;
}

.btn-xl:focus {
    color: #fff;
    background-color: #ee4136; // Here is the black background-color
text-decoration: none;
    background-position: 0 -15px; // moves the background
-webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-xl:hover {
    color: #fff;
    background-color: #ee4136; // Here is the black background-color
text-decoration: none;
    background-position: 0 -15px; // moves the background
-webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

@media all and ( min-device-width: 560px ) {
    .div_style {
        width: 778px;
        padding-bottom: 40%;
        margin: auto;
    }
}

@media all and ( min-device-width: 560px ) {
    .footer-space {
        height: 70px;
    }
}

textarea {
    resize: none;
}

.pull-center {
    margin-left: 30px;
    margin-right: 30px;
}

.more-button {
    background: #ee4136 none repeat scroll 0 0;
    border: 0 none;
    bottom: 6px;
    color: #fff;
    display: -webkit-inline-box;
    font-family: "Great Vibes",cursive;
    font-size: 20px;
    padding: 10px;

    position: fixed;
}

.more-button:focus {
    color: #fff;
    background-color: #ee4136; // Here is the black background-color
text-decoration: none;
    background-position: 0 -15px; // moves the background
-webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.more-button:hover {
    color: #fff;
    background-color: #ee4136; // Here is the black background-color
    text-decoration: none;
    background-position: 0 -15px; // moves the background
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
    -webkit-border-radius: 16px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #EE4136;
    border: 1px solid #eee;
    -webkit-border-radius: 16px;
}

.form-control{
    border-radius: 0;
}

.go-left {
    float: left;
    margin-bottom: 0 !important;
    margin-right: 10px !important;
}

.footer-space-main {
    height: 100px;
}